<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Projet Cloud - Groupe #</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />

	<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon.png" />
	<link rel="icon" type="image/png" href="/images/favicon.png" />
	{{#if step3}}
	<link rel="stylesheet" href="/stylesheets/dataTables.bootstrap4.min.css" />
	{{/if}}

	<!--     Fonts and icons     -->
	{{!--
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" /> --}}

	<!-- CSS Files -->
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
	<link href="/stylesheets/material-bootstrap-wizard.css" rel="stylesheet" />

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="/stylesheets/demo.css" rel="stylesheet" />
</head>

<body>
	{{{body}}}
</body>
<!--   Core JS Files   -->
<script src="/javascripts/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
<script src="/javascripts/jquery.bootstrap.js" type="text/javascript"></script>

<!--  Plugin for the Wizard -->
<script src="/javascripts/material-bootstrap-wizard.js"></script>
{{#if step3}}
<script src="/javascripts/jquery.dataTables.min.js" type="text/javascript">
</script>
<script src="/javascripts/dataTables.bootstrap4.min.js" type="text/javascript">
</script>
<script>
	$(document).ready(function () {
		$('#table_id').DataTable();
	});
</script>
{{/if}}
{{#if step4}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="/javascripts/main.js"></script>
<script>
	var myObj = {{{json listCandidats}}}	
</script>
{{/if}}
</html>