<div class="image-container set-full-height">
	<!--   Creative Tim Branding   -->
	<a href="https://github.com/Kemsty2">
		<div class="logo-container">
			<div class="brand">
				Projet Cloud
			</div>
		</div>
	</a>

	<!--  Made With Material Kit  -->
	<a href="http://demos.creative-tim.com/material-kit/index.html?ref=material-bootstrap-wizard" class="made-with-mk">
		<div class="brand">MK</div>
		<div class="made-with">Made with <strong>Material Kit</strong></div>
	</a>

	<!--   Big container   -->
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-md-10 mx-auto">
				<!--      Wizard container        -->
				<div class="wizard-container">
					<div class="card wizard-card" data-color="red" id="wizard">
						<div>
							<div class="wizard-header">
								<h3 class="wizard-title">
									Projet Cloud - Simulation Election
								</h3>
								<h5>Première Etape : Génération des PVS</h5>
							</div>
							<div class="wizard-navigation">
								<ul>
									<li><a href="#details" data-toggle="tab">Génération PVS</a></li>
								</ul>
							</div>

							<div class="tab-content mt-3">
								<div class="tab-pane" id="details">
									<div class="row">
										<div class="col-md-12">
											<div class="card border border-perso shadow p-3 rounded bg-light">
												<div class="card-body no-padding">
													<div class="card-title">
														<span class="badge badge-pill bg-perso">1. Prérequis</span>														
														<br>
														<span style="font-weight: 100"> -Suivre les étapes du document d'installation</span>														
													</div>													
												</div>
											</div>
										</div>
									</div>
									<div class="row mt-2">
										<div class="col-md-12">
											<div class="card border border-perso shadow p-3 rounded bg-light">
												<div class="card-body no-padding">
													<div class="card-title">
														<span class="badge badge-pill bg-perso">2. Suivre les étapes ci-dessous dans l'ordre</span>
													</div>
													<div class="row">
														 <div class="col-md-4 p-1">
															  <img src="/images/pv1.PNG" onclick="openModal();currentSlide(1)" class="hover-shadow img-fluid">
														 </div>
                             <div class="col-md-4 p-1">
															  <img src="/images/pv2.PNG" onclick="openModal();currentSlide(1)" class="hover-shadow img-fluid">
														 </div>
                             <div class="col-md-4 p-1">
															  <img src="/images/pv3.PNG" onclick="openModal();currentSlide(1)" class="hover-shadow img-fluid">
														 </div>
                             <div class="col-md-4 p-1">
															  <img src="/images/pv4.PNG" onclick="openModal();currentSlide(1)" class="hover-shadow img-fluid">
														 </div>
                             <div class="col-md-4 p-1">
															  <img src="/images/pv5.PNG" onclick="openModal();currentSlide(1)" class="hover-shadow img-fluid">
														 </div>
                             <div class="col-md-4 p-1">
															  <img src="/images/pv6.PNG" onclick="openModal();currentSlide(1)" class="hover-shadow img-fluid">
														 </div>														 
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row mt-2">
										<div class="col-md-12">
											<div class="card border border-perso shadow p-3 rounded bg-light">
												<div class="card-body no-padding">
                          <div class="card-title">
														<span class="badge badge-pill bg-perso">3. Copie des images générées et sauvegarde du fichier de configuration</span>
													</div>
													<span>
                            Copié les fichiers générées par l'application dans le dossier <kbd>generated_png</kbd> sous le Repertoire <kbd>./cloud-deploy/Frontend/PvGenerated/</kbd>
                          </span>
                          <br/>
                          <span>Un fichier de configuration de l'election portant le nom <kbd style="font-weight: 600">json.json</kbd>. Ce fichier va être utilisé à l'étape 2</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="wizard-footer">
								<div style="float:right;">
									<button type='button' class='btn btn-next btn-fill btn-danger btn-wd' name="next" id="next" value="/step2">Suivant</button>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div> <!-- wizard container -->
			</div>
		</div> <!-- row -->
	</div> <!--  big container -->

	<div class="footer">
		<div class="container text-center">
			Made with <i class="fa fa-heart heart"></i> by <a href="https://github.com/Kemsty2">Kemsty</a>
		</div>
	</div>
</div>

<div id="myModal" class="modal1">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content1">

    <div class="mySlides">
      <div class="numbertext">1 / 4</div>
      <img src="/images/pv1.PNG" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 4</div>
      <img src="/images/pv2.PNG" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="/images/pv3.PNG" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">4 / 4</div>
      <img src="/images/pv4.PNG" style="width:100%">
    </div>

		<div class="mySlides">
      <div class="numbertext">4 / 4</div>
      <img src="/images/pv5.PNG" style="width:100%">
    </div>

		<div class="mySlides">
      <div class="numbertext">4 / 4</div>
      <img src="/images/pv6.PNG" style="width:100%">
    </div>

    <!-- Next/previous controls -->
    <a class="prev-modal" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next-modal" onclick="plusSlides(1)">&#10095;</a>

    <!-- Caption text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>

    <!-- Thumbnail image controls -->
    <div class="column">
      <img class="demo img-fluid" src="/images/pv1.PNG" onclick="currentSlide(1)" alt="Lancement de L'application">
    </div>

    <div class="column">
      <img class="demo img-fluid" src="/images/pv2.PNG" onclick="currentSlide(2)" alt="Création de L'election">
    </div>

    <div class="column">
      <img class="demo img-fluid" src="/images/pv3.PNG" onclick="currentSlide(3)" alt="Génération des Pvs">
    </div>

    <div class="column">
      <img class="demo img-fluid" src="/images/pv4.PNG" onclick="currentSlide(4)" alt="En Cours">
    </div>

    <div class="column">
      <img class="demo img-fluid" src="/images/pv5.PNG" onclick="currentSlide(4)" alt="Fichier Généré">
    </div>

    <div class="column">
      <img class="demo img-fluid" src="/images/pv6.PNG" onclick="currentSlide(4)" alt="Fichiers Générés par parti">
    </div>
  </div>
</div>
<script>
// Open the Modal
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

// Close the Modal
function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>