<div class="image-container set-full-height">
  <!--   Creative Tim Branding   -->
  <a href="https://github.com/Kemsty2">
    <div class="logo-container">
      <div class="brand">
        Projet Cloud
      </div>
    </div>
  </a>

  <!--  Made With Material Kit  -->
  <a href="http://demos.creative-tim.com/material-kit/index.html?ref=material-bootstrap-wizard" class="made-with-mk">
    <div class="brand">MK</div>
    <div class="made-with">Made with <strong>Material Kit</strong></div>
  </a>

  <!--   Big container   -->
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-10 mx-auto">
        <!--      Wizard container        -->
        <div class="wizard-container">
          <div class="card wizard-card" data-color="red" id="wizard">
            <div>
              <div class="wizard-header">
                <h3 class="wizard-title">
                  Projet Cloud - Simulation Election
                </h3>
                <h5>Troisième Etape : Présentation des Candidats</h5>
              </div>
              <div class="wizard-navigation">
                <ul>
                  <li><a href="#details" data-toggle="tab">Présentation des Candidats</a></li>
                </ul>
              </div>

              <div class="tab-content mt-5">
                <div class="tab-pane" id="details">
                  <div class="card border border-perso shadow rounded bg-light" style="padding-top:0;">
                    <div class="card-header bg-perso d-flex justify-content-between">
                      <span>Liste Candidats</span>
                      <div>
                        <span><span style="font-weight:800">Nombre Inscrit:</span> <em style="font-weight:500">{{nombreInscrits}}</em> </span>
                        <span><span style="font-weight:800">Nombre Participants:</span> <em style="font-weight:500">{{nombreParticipants}}</em></span>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row justify-content-center d-flex">
                        {{#each candidats}}
                        <div class="col-md-4 mb-3">
                          <div class="card border border-perso shadow p-3 rounded bg-light">
                            <div class="card-body no-padding">
                              <div class="card-title">
                                {{this.nom}}
                              </div>
                              <div class="chip">
                                <img src="/images/default-user-image.png" alt="user" width="96" height="96">
                                {{this.candidat}}
                              </div>
                            </div>
                          </div>
                        </div>
                        {{/each}}
                      </div>
                    </div>
                  </div>

                  <div class="card border border-perso shadow rounded bg-light mt-3" style="padding-top:0;">
                    <div class="card-header bg-perso">
                      Liste Bureau Vote
                    </div>
                    <div class="card-body">
                      <div class="row justify-content-center d-flex">
                        <div class="col-md-12">
                          <table id="table_id" class="table table-striped table-bordered">
                            <thead>
                              <tr>
                                <th>Nom</th>
                                <th>Nombre Inscrits</th>
                                <th>Nombre Participants</th>
                              </tr>
                            </thead>
                            <tbody>
                              {{#each bureauVote}}
                                <tr>
                                  <td>{{this.nom_BV}}</td>
                                  <td>10000</td>                                  
                                  <td>10000</td>                                  
                                </tr>
                              {{/each}}                                                            
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wizard-footer">
                <div class="pull-right">
                  <button type='button' class='btn btn-next btn-fill btn-danger btn-wd' name="next" id="next" value="/step4">Suivant</button>
                </div>
                <div class="pull-left">
                  <button type='button' class='btn btn-previous btn-fill btn-default btn-wd' id='previous' name='previous'
                    value='/step2'>Précedent</button>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div> <!-- wizard container -->
      </div>
    </div> <!-- row -->
  </div> <!--  big container -->

  <div class="footer">
    <div class="container text-center">
      Made with <i class="fa fa-heart heart"></i> by <a href="https://github.com/Kemsty2">Kemsty</a>
    </div>
  </div>
</div>