<div class="image-container set-full-height">
  <!--   Creative Tim Branding   -->
  <a href="https://github.com/Kemsty2">
    <div class="logo-container">
      <div class="brand">
        Projet Cloud
      </div>
    </div>
  </a>

  <!--  Made With Material Kit  -->
  <a href="http://demos.creative-tim.com/material-kit/index.html?ref=material-bootstrap-wizard" class="made-with-mk">
    <div class="brand">MK</div>
    <div class="made-with">Made with <strong>Material Kit</strong></div>
  </a>

  <!--   Big container   -->
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-10 mx-auto">
        <!--      Wizard container        -->
        <div class="wizard-container">
          <div class="card wizard-card" data-color="red" id="wizard">
            <div>
              <div class="wizard-header">
                <h3 class="wizard-title">
                  Projet Cloud - Simulation Election
                </h3>
                <h5>Quatrième Etape : Resultats des Elections</h5>
              </div>
              <div class="wizard-navigation">
                <ul>
                  <li><a href="#details" data-toggle="tab">Génération PVS</a></li>
                </ul>
              </div>

              <div class="tab-content mt-3">
                <div class="tab-pane" id="details">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card border border-perso shadow rounded bg-light" style="padding-top:0;">
                        <div class="card-header bg-perso">
                          Premier Niveau de Resultats
                        </div>
                        <div class="card-body">
                          <div class="row">
                            {{#each listPartis as |parti|}}
                            <div class="card col-md-12 mb-2">
                              <div class="card-body row">
                                <div class="col-md-6">
                                  <div class="card">
                                    <div class="card-body">
                                      <div class="card-title text-center">
                                        {{parti}}
                                      </div>
                                      <ul class="list-group list-group-flush">
                                        {{#each ../listCandidats as |candidat|}}
                                        <li class="list-group-item d-flex justify-content-between">
                                          <span>{{candidat.candidat}}</span>
                                          <span>Pourcentage</span>
                                        </li>
                                        {{/each}}
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="card">
                                    <canvas id="{{parti}}niv1" width="100%"></canvas>                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                            {{/each}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col-md-12">
                      <div class="card border border-perso shadow rounded bg-light" style="padding-top:0;">
                        <div class="card-header bg-perso">
                          Deuxieme Niveau de Resultats
                        </div>
                        <div class="card-body ">
                          <div class="row">
                            <div class="col-md-6 mb-2">
                              <div class="card">
                                <div class="card-body">
                                  <div class="card-title text-center">
                                    Resultat Selon Notre Algorithme
                                  </div>
                                  <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between">
                                      <span>Candidat</span>
                                      <span>Pourcentage</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                      <span>Candidat</span>
                                      <span>Pourcentage</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                      <span>Candidat</span>
                                      <span>Pourcentage</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                      <span>Candidat</span>
                                      <span>Pourcentage</span>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 mb-2">
                              <div class="card">
                                <div class="card-body">
                                  <div class="card-title text-center">
                                    Resultat Selon Elecam
                                  </div>
                                  <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between">
                                      <span>Candidat</span>
                                      <span>Pourcentage</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                      <span>Candidat</span>
                                      <span>Pourcentage</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                      <span>Candidat</span>
                                      <span>Pourcentage</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                      <span>Candidat</span>
                                      <span>Pourcentage</span>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wizard-footer">                
                <div class="pull-left">
                  <button type='button' class='btn btn-previous btn-fill btn-default btn-wd' id='previous' name='previous'
                    value='/step3'>Précedent</button>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div> <!-- wizard container -->
      </div>
    </div> <!-- row -->
  </div> <!--  big container -->

  <div class="footer">
    <div class="container text-center">
      Made with <i class="fa fa-heart heart"></i> by <a href="https://github.com/Kemsty2">Kemsty</a>
    </div>
  </div>
</div>