<div class="image-container set-full-height">
	<!--   Creative Tim Branding   -->
	<a href="https://github.com/Kemsty2">
		<div class="logo-container">
			<div class="brand">
				Projet Cloud
			</div>
		</div>
	</a>

	<!--  Made With Material Kit  -->
	<a href="http://demos.creative-tim.com/material-kit/index.html?ref=material-bootstrap-wizard" class="made-with-mk">
		<div class="brand">MK</div>
		<div class="made-with">Made with <strong>Material Kit</strong></div>
	</a>

	<div class="alert alert-danger alert-dismissible fade in alert-file {{#if error}}show{{/if}}" role="alert">
		Please Select A File
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<!--   Big container   -->
	<div class="container">
		<div class="row">
			<form class="col-sm-10 col-md-10 mx-auto" method="POST" action="/step2" enctype="multipart/form-data">
				<!--      Wizard container        -->
				<div class="wizard-container">
					<div class="card wizard-card" data-color="red" id="wizard">
						<div>
							<div class="wizard-header">
								<h3 class="wizard-title">
									Projet Cloud - Simulation Election
								</h3>
								<h5>Deuxieme Etape : Création de L'election</h5>
							</div>
							<div class="wizard-navigation">
								<ul>
									<li><a href="#details" data-toggle="tab">Génération PVS</a></li>
								</ul>
							</div>

							<div class="tab-content mt-3">
								<div class="tab-pane" id="details">
									<div class="row">
										<div class="col-md-12">
											<div class="card border border-perso shadow p-3 rounded bg-light">
												<div class="card-body no-padding">
													<div class="card-title">
														<span class="badge badge-pill bg-perso">1. Prérequis</span>														
														<br>
														<span style="font-weight: 100"> - Avoir Générer Les Differents PVs à l'étape précendente</span>														
														<br>
														<span style=""> - Disposer du fichier <kbd>json.json</kbd> généré à l'étape précendente</span>
													</div>
													Uploader ce fichier à partir de votre machine puis cliquer sur <span class="text-perso">Suivant</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row mt-2">
										<div class="col-md-12">
											<div class="card border border-perso shadow p-3 rounded bg-light">
												<div class="card-body">
													<div class="card-title">														
														Charger le fichier de configuration générer à l'étape 1
													</div>
													<div class="custom-file">
														<input type="file" class="custom-file-input" name="customfile" id="customFile">
														<label class="custom-file-label" for="customFile">Choose file</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="wizard-footer">
								<div class="pull-right">
									<button type='submit' class='btn btn-next btn-fill btn-danger btn-wd' name="next">Suivant</button>
								</div>
								<div class="pull-left">
									<button type='button' class='btn btn-previous btn-fill btn-default btn-wd' id='previous' name='previous' value='/'>Precedent</button>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div> <!-- wizard container -->
			</form>
		</div> <!-- row -->
	</div> <!--  big container -->

	<div class="footer">
		<div class="container text-center">
			Made with <i class="fa fa-heart heart"></i> by <a href="https://github.com/Kemsty2">Kemsty</a>
		</div>
	</div>
</div>
